@import "../css/vendors/normalize.css";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap");
html {
  font-size: 16px;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 2% 4%;
}
@media screen and (max-width: 375px) {
  .container {
    padding: 5% 5%;
  }
}

.siteLogo {
  width: 13%;
  min-width: 90px;
  height: auto;
}
.siteLogo img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 375px) {
  .siteLogo {
    min-width: 80px;
  }
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header .header__tryItButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #ff52bf;
  text-decoration: none;
  width: 11%;
  min-width: 75px;
  text-align: center;
  border: 1px solid #ff52bf;
  border-radius: 5px;
  font-size: 85%;
  transition: all 0.5s ease;
  padding: 3px;
  text-transform: capitalize;
}
.header .header__tryItButton:hover {
  color: white;
  background-color: #ff52bf;
}

.mainSection__header {
  font-weight: 700;
  text-transform: capitalize;
  width: 100%;
  font-size: 225%;
  text-align: center;
  margin: 16px 0;
}
@media screen and (max-width: 375px) {
  .mainSection__header {
    font-size: 140%;
  }
}

.mainSection section {
  width: 100%;
  margin: 25px 0;
}

.mainSection {
  display: flex;
  flex-direction: column;
}
.mainSection * {
  color: #00252e;
}
.mainSection p {
  color: #808d99;
  font-size: 100%;
  text-align: center;
}

.getStartedButton {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff6bc9;
  border-radius: 5px;
  font-size: 80%;
  text-transform: capitalize;
  padding: 1% 2%;
  width: 20%;
  min-width: 150px;
  min-height: 40px;
  text-decoration: none;
  transition: all 0.5s ease;
}
.getStartedButton:hover {
  background: #ff52bf;
  -webkit-box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.7);
}
@media screen and (max-width: 375px) {
  .getStartedButton {
    font-size: 75%;
    padding: 3% 6%;
    width: 50%;
    min-width: 50%;
  }
}

.mainSection__introduction {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.mainSection__introduction p {
  width: 60%;
}
@media screen and (max-width: 375px) {
  .mainSection__introduction p {
    width: 80%;
    font-size: 90%;
    line-height: 1.5;
  }
}

.mainSection__introduction__image {
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  margin-top: 25px;
  width: 80%;
  height: 450px;
}
@media screen and (max-width: 375px) {
  .mainSection__introduction__image {
    margin-top: 0;
    height: 200px;
  }
}
@media screen and (max-width: 750px) {
  .mainSection__introduction__image {
    height: 300px;
  }
}
@media screen and (max-width: 450px) {
  .mainSection__introduction__image {
    height: 250px;
  }
}

.mainSection__details {
  display: grid;
  width: 100%;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  height: auto;
  grid-column-gap: 10px;
  grid-row-gap: 45px;
}
.mainSection__details div {
  width: 100% !important;
}
.mainSection__details * {
  text-align: start;
}
.mainSection__details .mainSection__details__decription {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainSection__details h2 {
  font-size: 120%;
  width: 70%;
  margin-bottom: 10px !important;
}
.mainSection__details p {
  margin-bottom: 25px !important;
  font-size: 90%;
  line-height: 1.4;
  width: 70%;
  text-align: start;
}
@media screen and (max-width: 768px) {
  .mainSection__details h2 {
    font-size: 2.6vw;
    width: 90%;
  }
  .mainSection__details p {
    font-size: 1.9vw;
    width: 80%;
    text-align: start;
  }
}
@media screen and (max-width: 590px) {
  .mainSection__details {
    grid-template-columns: auto;
  }
  .mainSection__details div:first-child {
    grid-row: 2;
  }
  .mainSection__details div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mainSection__details h2 {
    font-size: 3.7vw;
    text-align: center;
  }
  .mainSection__details p {
    font-size: 2.9vw;
    text-align: center;
  }
  .mainSection__details .mainSection__details__image {
    margin: 0 auto !important;
    width: 80%;
    height: 250px;
  }
}
@media screen and (max-width: 425px) {
  .mainSection__details h2 {
    font-size: 4.4vw;
  }
  .mainSection__details p {
    font-size: 3.4vw;
  }
}
@media screen and (max-width: 375px) {
  .mainSection__details h2 {
    font-size: 5.8vw;
    width: 90%;
  }
  .mainSection__details p {
    font-size: 4.2vw;
  }
}

.mainSection__details__image {
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.mainSection__getStarted {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.mainSection__getStarted * {
  margin: 15px 0;
}
.mainSection__getStarted a {
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
